@import url('https://fonts.googleapis.com/css?family=Teko:300');

.MMM-RocketLaunch {
  font-family: 'Teko';
  font-weight: 300;
  font-size: 10px;
}

.MMM-RocketLaunch td {
	text-align: left;
	font-size: 0.65em;
	line-height: 1em;
 }

.MMM-RocketLaunch th {
	 text-align: left;
	 font-size: 0.8em;
	 line-height: 1em;
 }

.launchTime01 {
	color: limegreen;
}

.launchTime03 {
	color: yellowgreen;
}

.launchTime06 {
	color: orange;
}

.launchTime24 {
	color: darkorange;
}

.launchTime72 {
	color: firebrick;
}

.launchTime {
	color: white;
}

.launchOngoing {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}
